.header {
  background-image: url(../../images/pattern-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  height: 35vh;
}

.header__section {
  padding: 35px 0 0;
  max-width: 1440px;
}

.header__title {
  color: #fff;
  font-weight: 500;
  padding-bottom: 35px;
  text-align: center;
}

@media screen and (max-width: 980px) {
  .header__title {
    font-size: 28px;
    padding-bottom: 20px;
  }
}
