.footer { 
    font-size: 14px; 
    text-align: center;
    height: 2vh;
}
.footer__link { 
    color: hsl(228, 45%, 44%); 
}

@media screen and (max-width: 980px) {
    .footer {
        font-size: 12px;
    }
}